<a href="https://colab.research.google.com/github/PreethamMekala/ICP-1/blob/main/ICP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
word = list("Python")
word.remove('P')
word.remove('o')
word.reverse()
reversed_word = ''.join(word)
print(reversed_word)

nhty

In [2]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b if b != 0 else "Undefined (division by zero)"
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter the first number: 2.0
Enter the second number: 1.0
Addition: 3.0
Subtraction: 1.0
Multiplication: 2.0
Division: 2.0

In [6]:
sentence = input("Enter a sentence: ")
modified_sentence = sentence.replace('python', 'pythons')
print(modified_sentence)

Enter a sentence: I dance with python
I dance with pythons

In [7]:
score = float(input("Enter the class score (0-100): "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f"The grade is: {grade}")

Enter the class score (0-100): 94
The grade is: A

In [8]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [10]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(f"Length of IT_companies: {len(IT_companies)}")
IT_companies.add('Twitter')
IT_companies.update(['Netflix', 'LinkedIn'])
IT_companies.remove('Apple')
C = A.union(B)
intersection = A.intersection(B)
is_subset = A.issubset(B)
are_disjoint = A.isdisjoint(B)
A_and_B = A | B
B_and_A = B | A
symmetric_diff = A.symmetric_difference(B)
del A
del B
age_set = set(age)
print(f"Length of age list: {len(age)}")
print(f"Length of age set: {len(age_set)}")

Length of IT_companies: 7
Length of age list: 8
Length of age set: 5